doctype html
html
  head
    meta(charset="UTF-8")
    title #{title}
    link(rel="stylesheet", href="style.css")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css")

  body 
  block content
    .container
      form(action="/getQRcode" method="POST" )
        input(type="text" placeholder='Text, number or URL' name="QRtext" style="border: none; border-radius: 10px; background: #f0c591; padding: 10px; padding-left: 24px; font-weight: 700; width: 100%; transition: 0.2s;")
        button.button.login__submit(type="submit") Get QR Code
      